header {
   height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;    
    background-color: lightblue;  
    color: $textColor;

    button { // <-- nested element
        background: $primeryBtn;
        &:hover {background-color: rgb(255, 250, 250);} // <-- pseudo element
        &::after { content: " asd";} // <-- pseudo element
    } 
    
}