header {
    
   height: 100vh;
    color: $textColor;
    background: lightblue;
    button { // <-- nested element
        background: $primeryBtn;
        &:hover {background-color: rgb(255, 250, 250);} // <-- pseudo element
        &::after { content: " Helloo";} // <-- pseudo element
    } 
    
}