header {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    color: $textColor;

    button { // <-- nested element
        background: $primeryBtn;
        &:hover {background-color: red;} // <-- pseudo element
        &::after { content: " Helloo";} // <-- pseudo element
    } 
    
}