$primeryBtn: rgb(121, 123, 228); // <-- variable
$textColor: rgb(163, 39, 39);


header {
    background-color: lightblue;
    display: flex;
    justify-content: center;
    color: $textColor;

    button { // <-- nested element
        background: $primeryBtn;
        &:hover {background-color: red;} // <-- pseudo element
        &::after { content: " Helloo";} // <-- pseudo element
    } 
    
}


.contact button {background: $primeryBtn}